{{! This acts like a resuable component with the property title }}
{{! Any file that imports this must have the title property sent via the render method }}

<header>
    <h1>{{title}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>